// vant样式修改
.vant-css { //蓝色底杠
	.van-tabs__line {
		background-color:#3AAFFC;
		height: 1px;
		bottom: 8px;
	}
	.van-tab--active {
		color: #3AAFFC;
		// font-size: 16px;
	}
	.van-popup {
		border-radius: 8px;
		z-index:999 !important;//重新写一个
	}
}
.vant-blue { //蓝色
	.vat-tab {
		font-size: 15px;
	}
	.van-tabs__nav--card .van-tab.van-tab--active {
		color: #3AAFFC;
		background-color: #fff;
	}
	.van-tabs__nav--card .van-tab {
		color: #000;
		border-right: 1px solid #000;
	}
	.van-tabs__scroll--card {
		border: 0;
	}
}
.vant-exchange { //名片交换导航
	margin-top: 20px;
	.van-tabs__wrap {
		background-color: rgba(255,255,255,0);
	}
	.van-tab {
		font-size: 15px;
		padding: 0;
	}
	.van-tabs--card {
		padding-top: 45px;
	}
	.van-tabs--card .van-tabs__wrap {
		height: 100%;
		padding: 0 8px;
	}
	.van-tabs__nav--card {
		height: 100%;
	}
	.van-tabs__nav--card .van-tab.van-tab--active {
		color: #3AAFFC;
		background: #fff;
	}
	.van-tabs__nav--card .van-tab {
		color: #000;
		background: linear-gradient(210deg, #fff, #f3f2f2);
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
		line-height: 45px;
		margin: 0 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-right: 0;
	}
	.van-tabs__scroll--card {
		border: 0;
	}
}
.vant-cell {
	background: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.15);
	margin: 0 10px;
	padding-top: 10px;
	padding-bottom: 20px;
	.van-swipe-cell__right {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80px;
		font-size: 12px;
		color: #fff;
		text-align: center;
		background-color: #3AAFFC;
	}
	.van-swipe-cell {
		height: 100%;
	}
}
.vant-popup {
	van-transition > view {
		background-color: rgba(0, 0, 0, 0) !important;
	}
	.van-popup {
		background-color: #E8E8E8;
	}
}
