// vant样式修改
.vant-css { //蓝色底杠
	.van-tabs__line {
		background-color:#3AAFFC;
		height: 1px;
		bottom: 8px;
	}
	.van-tab--active {
		color: #3AAFFC;
		font-size: 16px;
	}
	.van-popup {
		border-radius: 8px;
	}
}
.vant-blue { //蓝色
	.vat-tab {
		font-size: 15px;
	}
	.van-tabs__nav--card .van-tab.van-tab--active {
		color: #3AAFFC;
		background-color: #fff;
	}
	.van-tabs__nav--card .van-tab {
		color: #000;
		border-right: 1px solid #000;
	}
	.van-tabs__scroll--card {
		border: 0;
	}
}
.vant-exchange { //名片交换导航
	.vat-tab {
		font-size: 15px;
	}
	.van-tabs__nav--card .van-tab.van-tab--active {
		color: #3AAFFC;
		background-color: #fff;
	}
	.van-tabs__nav--card .van-tab {
		color: #000;
		border-right: 20px solid rgb(244,244,244);
	}
	.van-tabs__scroll--card {
		border: 0;
	}
}
.vant-sepp {
	.van-swipe-cell__left,
	.van-swipe-cell__right {
		display: inline-block;
		width: 65px;
		height: 44px;
		font-size: 15px;
		line-height: 44px;
		color: #fff;
		text-align: center;
		background-color: #f44;
	}

}